*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-color: white;
}
body{
    font-family: sans-serif;
    font-size: 100%;
    width:55%;
    margin: 0 auto;
    border: 3px solid #931420;
    background-color: #fffded;
}
header {
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 3px solid #931420;
    padding: 1.5em 0 2em 0;
    background-image: linear-gradient(#f6bb73, white);;
}
header img {
    padding: 0 1em;
}
header h2 {
    color: #800000;
    font-size: 200%;
    padding-left: 10px;
}
header h3 {
    font-style: italic;
    font-size: 120%;
    padding-left: 10px;
}
main {
    padding: 0 1em;
    display: flex; 
}
main section{
    width: 75%;
}
main aside{
    width: 25%;
}
main h1{
    font-size: 150%;
    padding: 3em 0;
    border-bottom: 3px solid #931420;
    border-top: 3px solid #931420;
}
main h2 {
    font-size: 130%;
    color: #800000;
    padding: .5em 0 .25em 0;
}
main h3 {
    font-size: 105%;
    padding-bottom: .25em;
}
main img{
    padding-bottom: 1em;
}
main p {
    padding-bottom: 0.5em;
}
main blockquote {
    padding: 0em 2em;
    font-style: italic;
}
main ul {
    padding-left: 0 0 0.25em 1.25em;
}
main li {
    padding-bottom: 0.35em;
}
:focus {
 font-style: italic;
}
footer {
    background-color: #931420;
}
main h1 {
    padding: 0.25em 0;
    margin: 0;
    gap:0;
}
footer p {
    display: flex;
    justify-content: center;
    color: white;
    padding: 0 1em;
}
header h3 span{
    text-shadow: #800000 2px 2px 2px;
}